@keyframes slow_motion {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.scrollTop {
  position: fixed;
  bottom: 80rem;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  background: #fff url(../img/up.png);
  border-radius: 50%;
  background-size: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s; }

.scrollTop.active {
  bottom: 4rem;
  visibility: visible;
  opacity: 1; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: #c69963; }

::selection {
  background-color: #aaa;
  color: #f9f7f6; }

::-webkit-scrollbar {
  width: 0; }

:root {
  scrollbar-width: none; }

.heading {
  font-family: 'Poiret One', cursive;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  color: #f9f7f6; }

.mb-small {
  margin-bottom: 2rem; }

.mb-medium {
  margin-bottom: 4rem; }

.mb-large {
  margin-bottom: 6rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  width: 17rem;
  padding: 1.5rem 4rem;
  font-weight: 400;
  font-size: 2rem;
  border: 0.3rem solid #6D5D4B;
  border-radius: 1rem;
  background-color: transparent;
  text-decoration: none;
  color: #aaa;
  outline: none;
  cursor: pointer;
  transition: all .2s; }

.btn:hover {
  background-color: #6D5D4B;
  box-shadow: 0 1rem 2rem rgba(74, 78, 105, 0.15); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(74, 78, 105, 0.15);
  transform: translateY(0.2rem); }

.header {
  min-height: 100vh;
  padding: 0 4rem;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  /* Fija la imagen al escrollear */
  display: grid;
  grid-template-columns: minmax(min-content, 120rem);
  justify-content: center;
  align-content: space-around; }
  .header-nav__list {
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .header-nav__item {
    list-style: none; }
  .header-nav__link {
    font-size: 4rem;
    margin: 0 2rem;
    letter-spacing: .4rem;
    text-decoration: none;
    outline: none;
    color: #aaa; }
  .header-content {
    margin-bottom: 15rem;
    text-align: center; }
    .header-content__title {
      font-size: 6rem;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: .5rem;
      color: #f9f7f6; }
      .header-content__title span {
        font-weight: 300; }
    .header-content__text {
      font-size: 2rem; }

.footer {
  background: #112d42;
  margin: 0 auto;
  padding: 3rem 4rem; }
  .footer__list {
    display: flex;
    justify-content: center; }
  .footer__item {
    list-style: none; }
  .footer__link {
    margin: auto 2.5rem;
    font-size: 6rem;
    text-decoration: none;
    color: #c69963;
    outline: none; }
    .footer__link i:hover {
      animation: slow_motion .7s ease-in-out; }
  .footer__copyright {
    padding-top: 3rem;
    font-size: 3rem;
    text-align: center;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #aaa; }

.abilities {
  padding: 6rem 4rem 10rem 4rem;
  background: #334467; }
  .abilities__gallery {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
    justify-content: center;
    grid-gap: 2rem; }
  .abilities__img {
    width: 15rem;
    height: 15rem;
    padding: 2.5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 2rem; }
    .abilities__img:hover {
      animation: slow_motion .7s ease-in-out; }

.contact {
  padding: 10rem 4rem 5rem 4rem;
  background: #112d42; }
  .contact h3 {
    margin-left: 1rem;
    font-size: 2.4rem;
    font-weight: 500;
    color: #0f3959; }
  .contact__form {
    font-family: 'Poppins',sans-serif;
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5); }
  .contact__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));
    grid-auto-rows: 6.5rem;
    justify-content: space-around;
    align-items: flex-end;
    grid-gap: 5rem; }
  .contact__input {
    position: relative;
    width: 100%; }
  .contact__input input,
  .contact__input textarea {
    font-family: 'Poppins',sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    width: 100%;
    padding: .5rem 0;
    border: none;
    border-bottom: .1rem solid #777;
    color: #333;
    outline: none; }
  .contact__input textarea {
    min-height: 9.2rem; }
  .contact__input span {
    position: absolute;
    left: 0;
    padding: .5rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    pointer-events: none;
    color: #333;
    transition: 0.3s; }
  .contact__input input:focus ~ span,
  .contact__input textarea:focus ~ span,
  .contact__input input:valid ~ span,
  .contact__input textarea:valid ~ span {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    transform: translateY(-2rem);
    color: #ff568c; }
  .contact__input input[type="submit"] {
    position: relative;
    width: 15rem;
    padding: 1.2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background: #0f3959;
    color: #fff; }
  .contact__input input[type="submit"]:hover {
    background: #ff568c; }
  .contact .button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: flex-start; }
  .contact .textarea {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }

.perfil {
  padding: 8rem 4rem;
  background-image: linear-gradient(315deg, #537895 0%, #15212d 74%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50rem));
  justify-content: center;
  grid-gap: 5rem; }
  .perfil-content__icon {
    margin-right: 2rem; }
  .perfil-content__name {
    padding: 2rem;
    font-size: 4rem;
    font-weight: 400; }
  .perfil-content__text {
    font-size: 2rem; }
  .perfil-photo {
    justify-self: center; }
    .perfil-photo__img {
      width: 40rem; }

.projects {
  padding: 6rem 4rem 0 4rem;
  background: #16384c; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .container__card {
    box-sizing: content-box;
    width: 25rem;
    height: 18rem;
    margin: 5rem 3rem;
    padding: 2rem 1.5rem;
    border-radius: .4rem;
    background: #fff;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5); }
  .container__imgBx {
    position: relative;
    width: 21rem;
    height: 21rem;
    top: -6rem;
    left: 2rem;
    border-radius: .4rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .container__img {
    max-width: 100%;
    border-radius: .4rem; }
  .container__title {
    margin-top: -6.5rem;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: #111; }
