// COLORS
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #4a4e69;
$color-secondary-dark: #1B1F22;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;


// EXTRA COLORS

//  #131417;
//  #4a4e69;
//  #15212d;
//  #B8D4E3;
//  #d8e4ff;
