.footer {
   background: #112d42;
   margin: 0 auto;

   &__socialLinks {
      display: flex;
      justify-content: center;

      li {list-style: none; }

      a {
         margin: auto 2.5rem;
         font-size: 6rem;
         text-decoration: none;
         color: $color-primary;
         outline: none;

         i:hover { animation: slow_motion .7s ease-in-out; }
      }
   }

   &__copyright {
      padding: 3rem 0;
      font-size: 3rem;
      text-align: center;
      letter-spacing: .3rem;
      text-transform: uppercase;
   }
}
