.header {
   min-height: 100vh;

   background-image: url("../img/hero.jpg");
   background-size: cover;
   background-position: bottom;
   background-attachment: fixed;  /* Fija la imagen al escrollear */

   display: grid;
   grid-template-columns: minmax(min-content, max-content);
   grid-template-rows: 1fr min-content 1fr;
   justify-content: center;
   align-content: center;
   justify-items: center;

   &__nav {
      margin-top: 6rem;

      &-list {
         list-style: none;

         li, a {
            display: inline;
            margin: auto 1rem;
            font-size: 3.5rem;
            letter-spacing: .4rem;
            text-decoration: none;
            font-family: 'Poiret One', cursive;
            color: $color-grey-light-2;
         }
      }
   }

   &__box {
      margin-top: 8rem;
      align-self: end;
      text-align: center;

      &-title {
         font-weight: 900;
         text-transform: uppercase;
         letter-spacing: .5rem;
         color: $color-grey-light-1;

         span { font-weight: 300; }
      }
   }
}
