.header {
   min-height: 100vh;

   padding: 0 4rem;

   background-image: url("../img/hero.jpg");
   background-size: cover;
   background-position: bottom;
   background-attachment: fixed;  /* Fija la imagen al escrollear */

   display: grid;
   grid-template-columns: minmax(min-content, 110rem);
   grid-template-rows: 1fr min-content 1fr;
   justify-content: center;
   align-content: center;
   justify-items: center;

   &__nav {
      font-family: 'Poiret One', cursive;
      display: flex;
      flex-wrap: wrap;
      margin-top: 6rem;

      li { list-style: none; }

      a {
         margin: auto 2rem;
         letter-spacing: .4rem;
         text-decoration: none;
         color: $color-grey-light-2;
         outline: none;
      }
   }

   &__title {
      margin-top: 8rem;
      align-self: end;
      text-align: center;

      h1 {
         font-size: 6rem;
         line-height: 1.2;
         text-transform: uppercase;
         letter-spacing: .5rem;
         color: $color-grey-light-1;
      }

      span { font-weight: 300; }
   }
}
