// HEADINGS
.heading {
  font-family: "Poiret One", cursive;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  color: $color-grey-light-1;
}

// MARGIN-BOTTOM
.mb-small { margin-bottom: 2rem; }
.mb-medium { margin-bottom: 4rem; }
.mb-large { margin-bottom: 6rem; }
