%heading {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
}


// HEADINGS
.heading-1 {
   @extend %heading;
   font-size: 6rem;
   line-height: 1;
}

.heading-2 {
   font-family: 'Poiret One', cursive;
   font-weight: 400;
   font-size: 12rem;
   line-height: 1;
   text-align: center;
   margin-bottom: 8rem;
   color: $color-grey-light-1;
}

.heading-3 {
   @extend %heading;
   font-size: 2rem;
   line-height: 1.6;
   color: $color-primary;
}


// MARGIN-BOTTOM
.mb-small { margin-bottom: 2rem; }
.mb-medium { margin-bottom: 3rem; }
.mb-large { margin-bottom: 6rem; }
