.abilities {
   // min-height: 100vh
   padding: 6rem 4rem 10rem 4rem;
   background: #334467;

   &__gallery {
      margin: 0 auto;
      max-width: 110rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      justify-content: center;
      align-items: center;
      grid-gap: 5rem;

      img {
         width: 18rem;
         height: 18rem;
         padding: 3rem;
         justify-self: center;
         box-shadow: 0 .5rem 2rem rgba(0,0,0, 0.5);
         border-radius: 2rem;
      }

      img:hover { animation: slow_motion .7s ease-in-out; }
   }
}
