.perfil {
   // min-height: 100vh;
   padding: 8rem 4rem;
   background: #15212d;
   // background-image: linear-gradient(to bottom, rgba($color-secondary-dark, .80), rgba($color-secondary, .85)), url(../img/perfil-back.jpg);
   // background-size: cover;
   // background-position: center;

   &__box {
      width: 85%;
      margin: 0 auto;
      max-width: 110rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
      justify-content: center;
      justify-items: center;
      align-items: center;
      grid-row-gap: 2rem;

      &-description {
         justify-self: start;
         padding: 5rem;

         i { margin-right: 2rem; }
      }

      img {
         align-self: center;
         width: 35rem; }
   }
}
