.projects {
   height: 90vh;
   padding: 6rem 4rem 0 4rem;
   background: #16384c;

   &__box {
      display: flex;
      justify-content: center;
      align-items: center;

      &-container {
         position: relative;
         max-width: 120rem;
         width: 100%;
         margin-top: 5rem;

         display: flex;
         justify-content: center;
         flex-wrap: wrap;

         .card {
            display: flex;
            flex-direction: column;

            box-sizing: content-box;
            max-width: 25rem;
            height: 16.5rem;
            margin: 3rem 2rem;
            padding: 2rem 1.5rem;
            border-radius: .4rem;
            background: #fff;
            box-shadow: 0 .5rem 2rem rgba(0,0,0, 0.5);

            transition: 0.3s ease-in-out;
         }

         .card:hover { height: 37rem; }

         .card .imgBx {
            position: relative;
            width: 21rem;
            height: 21rem;
            top: -6rem;
            left: 2rem;
            border-radius: .4rem;
            z-index: 1;
            background: #fff;
            box-shadow: 0 .5rem 2rem rgba(0,0,0, 0.2);
         }

         .card .imgBx img {
            max-width: 100%;
            border-radius: .4rem;
         }

         .card .content {
            margin-top: -14rem;
            padding: 1rem 1.5rem;
            font-size: 1.7rem;
            text-align: center;
            opacity: 0;
            color: #111;

            transition: 0.3s ease-in-out;
         }

         .card:hover .content {
            margin-top: -4rem;
            opacity: 1;

            transition-delay: 0.3s;
         }
      }
   }
}
