.projects {
   height: 100vh;
   padding-top: 8rem;

   background: #16384c;

   &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;

      &-container {
         position: relative;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         padding: 3rem 2rem 10rem;

         margin-top: 5rem;

         .card {
            box-sizing: content-box;
            max-width: 30rem;
            height: 21.5rem;
            background: #fff;
            margin: 3rem 2rem;
            padding: 2rem 1.5rem;

            display: flex;
            border-radius: .4rem;
            flex-direction: column;
            box-shadow: 0 .5rem 2rem rgba(0,0,0, 0.5);

            transition: 0.3s ease-in-out;
         }

         .card:hover { height: 42rem; }

         .card .imgBx {
            position: relative;
            background: #fff;
            top: -6rem;
            left: 2rem;
            min-width: initial;
            width: 26rem;
            height: 26rem;
            border-radius: .4rem;
            z-index: 1;
            box-shadow: 0 .5rem 2rem rgba(0,0,0, 0.2);
         }

         .card .imgBx img {
            max-width: 100%;
            border-radius: .4rem;
         }

         .card .content {
            position: relative;
            margin-top: -14rem;
            padding: 1rem 1.5rem;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
            font-size: 2rem;

            transition-delay: 0s;
         }

         .card:hover .content {
            visibility: visible;
            opacity: 1;
            margin-top: -4rem;
            transition-delay: 0.3s;
         }
      }
   }
}
