.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-family: "Lato", sans-serif;
    width: 17rem;
    padding: 1.5rem 4rem;
    font-weight: 400;
    font-size: 2rem;
    border: 0.3rem solid $color-grey-dark-2;
    border-radius: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: $color-grey-light-2;
    outline: none;
    cursor: pointer;

    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-grey-dark-2;
    box-shadow: 0 1rem 2rem rgba($color-secondary, 0.15);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-secondary, 0.15);
    transform: translateY(0.2rem);
  }
}
